@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --pink:#D1AAA3;
    --white:#FDFDFD;
    --gray:#747474;
}

*{
    margin: 0;
    color: #747474;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FDFDFD;
}

h2, a{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h3{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/*MENU*/

header{
    background-color: #FDFDFD;
    padding: 5px;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    border-radius: 10px;
    position: fixed;
    width: 94%;
}

header img{
    width: 50px;
}

header, ul{
    display: flex;
}

header, ul, li, a{
    list-style: none;
    text-decoration: none;
    padding-right: 20px;
}

.menu{
    margin-left: 8%;
}

.show-menu,
    .hide-menu{
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
    }

    .show-menu{
        order: 1;
    }

    .menu a:hover,
    .show-menu:hover,
    .hide-menu{
        color: #ffffff;
        transition: 0.2s ease-out;
    }

    #check{
        display: none;
    }


/*BUTTONS*/

.pink-btn{
    background-color: #D1AAA3;
    padding: 10px 15px;
    border-radius: 10px;
    color: #FDFDFD;
    border: 2px solid #D1AAA3;
}

.pink-btn:hover{
    border: 2px solid #D1AAA3;
    background-color: #FDFDFD;
    color: #D1AAA3;
    transition: all 250ms ease-out;
}

.white-btn{
    background-color: #FDFDFD;
    padding: 8px 15px;
    border-radius: 10px;
    color: #D1AAA3;
    margin: 0;
    border: 2px solid #FDFDFD;
}

.white-btn:hover{
    background-color: #D1AAA3;
    color: #FDFDFD;
    border: 2px solid #FDFDFD;
    transition: all 250ms ease-out;
}

.outline-btn{
    border:  2px solid #D1AAA3;
    color: #D1AAA3;
    padding: 8px 9px;
    border-radius: 10px;
}

.outline-btn-icon{
    border:  2px solid #D1AAA3;
    color: #D1AAA3;
    padding: 8px 9px;
    border-radius: 10px;
}

.outline-btn-icon:hover{
    background-color: #D1AAA3;
    color: #FDFDFD;
    border: 2px solid #D1AAA3;
    transition: all 250ms ease-out;
}



/*MAIN*/

main{
    background-color: #D1AAA3;
    padding-bottom: 13%;
}

.main-content{
    padding: 20% 5% 0%;
}

.main-content h2{
    font-size: 35px;
    color: #FDFDFD;
}

.main-content h3{
    font-size: 25px;
    color: #FDFDFD;
}

.main-btn{
    margin: 2% 5% 0% 5%;
}

.social{
    display: flex;
    margin: 6% 84%;
    padding-bottom: 2%;
    position: fixed;
}

.social.bx, a{
    background-color: #FDFDFD;
    padding: 6px 8px;
    border-radius: 8px;
    margin-right: 6px;
    padding-left: 8px;
    color: #D1AAA3;
}


.bx:hover{
    color: #D1AAA3;
    transition: all 250ms ease-out;
}

.bx-show{
    color: #D1AAA3;
}

.github{
    color: #FDFDFD;
}


.bx-show, .github{
    margin-right: 5px;
}


/*PROJECTS*/

.container-cards{
    display: flex;
    justify-content: center;
    padding: 5%; 
}

.container-cards, .card{
    margin: 2%;
    padding-top: 8%;
}

.container-cards img{
    border:  2px solid #D1AAA3;
    padding: 6px;
    width: 250px;
    border-radius: 10px;
}

.card h3{
    margin-bottom: 12px;
}

.pink-btn, .outline-btn{
    padding: 10px 23px;
}

/*ABOUT*/

.container-about-skills{
    display: flex;
    justify-content: center;
    margin-left: 6%;
}

.container-about{
    border: 2px solid #D1AAA3;
    border-radius: 10px;
    padding: 25px;
    width: 28%;
    margin: 15% 2% 30%;
}

.container-about img{
    width: 50px;
    border-radius: 10px;
    border: 2px solid #D1AAA3;
    margin-bottom: 20px;
}

.img-name{
    display: flex;
}

.name{
    margin: 2% 0% 0% 10%;
    font-size: 25px;
    color: #D1AAA3;
}

.container-skills{
    background-color: #D1AAA3;
    padding: 40px 20px;
    width: 30%;
    margin: 15% 9% 30% 5%;
    border-radius: 10px;
}

.skills-items{
    display: block;
}

.skills-items li, h2{
    list-style: inside;
    color: #FDFDFD;
    font-family: "Open Sans", sans-serif;
}

.skills-title{
    margin: 0px 30px 20px;
    font-size: 22px;
}

/*FOOTER*/

footer{
    background-color: #D1AAA3;
    padding: 5%;
}


/*---RESONSIVE---*/

@media screen and (max-width:914px) {
    
    /*MENU*/

    header{
        background-color: #FDFDFD;
        padding: 5px;
        align-items: center;
        margin: 20px;
        justify-content: space-between;
        border-radius: 10px;
        position: fixed;
        width: 93%;
    }

    .menu{
        margin-left: 5%;
    }


    /*MAIN*/

    main{
        background-color: #D1AAA3;
        padding-bottom: 20%;
    }

    .social{
        display: flex;
        margin: 13% 80%;
        padding-bottom: 2%;
        position: fixed;
    }

    /*PROJECTS*/

    .pink-btn, .outline-btn{
        padding: 10px 22px;
    }

    /*ABOUT*/


    .container-about{
        border: 2px solid #D1AAA3;
        border-radius: 10px;
        padding: 25px;
        width: 35%;
        margin: 5% 0% 18%;
    }

    .container-skills{
        background-color: #D1AAA3;
        padding: 25px 20px;
        width: 35%;
        margin: 5% 6% 18%;
        border-radius: 10px;
    }

    .skills-items{
        padding: 13px;
    }

    .skills-title{
        margin: 10px 32px 5px;
        font-size: 22px;
    }

    /*FOOTER*/

    footer{
        background-color: #D1AAA3;
        padding: 6%;
    }
    }

        @media screen and (max-width:820px) {
            /*MENU*/

            header, ul, li, a{
                padding-right: 5px;
            }

            .menu{
                margin-left: 0%;
            }


            /*MAIN*/

            main{
                background-color: #D1AAA3;
                padding-bottom: 20%;
            }

            .social{
                display: flex;
                margin: 12% 79%;
                padding-bottom: 2%;
                position: fixed;
            }

            .social.bx, a{
                background-color: #FDFDFD;
                padding: 5px 7px;
                border-radius: 8px;
                margin-right: 6px;
                padding-left: 8px;
            }

            /*PROJECTS*/
            
            .container-cards img{
                border:  2px solid #D1AAA3;
                padding: 6px;
                width: 200px;
                border-radius: 10px;
            }   

            .pink-btn, .outline-btn{
                padding: 9px;
            }

            /*ABOUT*/


            .container-about{
                border: 2px solid #D1AAA3;
                border-radius: 10px;
                padding: 25px;
                width: 35%;
                margin: 5% 0% 7%;
            }

            .container-skills{
                background-color: #D1AAA3;
                padding: 25px 20px;
                width: 35%;
                margin: 5% 5% 7%;
                border-radius: 10px;
            }

            .skills-items{
                padding: 13px;
            }

            .skills-title{
                margin: 10px 32px 5px;
                font-size: 22px;
            }

            .name{
                font-size: 21px;
            }

            /*FOOTER*/

            footer{
                background-color: #D1AAA3;
                padding: 6%;
            }
        }


        @media screen and (max-width:720px) {
        
        /*MENU*/

        header, ul, li, a{
            padding-right: 2px;
        }

        .menu{
            margin-left: 0%;
        }
        

        /*MAIN*/

        main{
            background-color: #D1AAA3;
            padding-bottom: 20%;
        }

        .social{
            display: flex;
            margin: 12% 76%;
            padding-bottom: 2%;
            position: fixed;
        }

        .social.bx, a{
            background-color: #FDFDFD;
            padding: 5px 7px;
            border-radius: 8px;
            margin-right: 5px;
            padding-left: 8px;
        }

        /*ABOUT*/

        .container-about{
            border: 2px solid #D1AAA3;
            border-radius: 10px;
            padding: 25px;
            width: 40%;
            margin: 10% 2% 20%;
        }

        .name{
            margin: 2% 0% 0% 10%;
            font-size: 22px;
            color: #D1AAA3;
        }
        
        .container-skills{
            background-color: #D1AAA3;
            padding: 30px 20px;
            width: 40%;
            margin: 10% 9% 20% 5%;
            border-radius: 10px;
        }

        .skills-title{
            margin: 0px 30px 20px;
            font-size: 22px;
        }

        footer{
            padding: 8%;
        }
    } 

/*---RESONSIVE MOBILE---*/
    
            
            @media screen and (max-width: 414px) {
                /*MENU*/

                header{
                    background-color: #FDFDFD;
                    padding: 3px;
                    align-items: center;
                    margin: 18px;
                    border-radius: 10px;
                    position: fixed;
                    width: 80%;
                }

                header img{
                    width: 40px;
                }

                header, ul, li, a{
                    list-style: none;
                    text-decoration: none;
                    padding: 20px;
                }

                .menu{
                    margin-left: 0%;
                    padding-left: 2px;
                }

                .menu a{
                    padding: 2px;
                }

                
                .show-menu,
                .hide-menu{
                display: block;
                }

                .menu{
                    position: fixed;
                    width: 100%;
                    height: 120vh;
                    background: var(--pink);
                    right: -100%;
                    top: 0;
                    text-align: center;
                    padding: 100px 0px;
                    z-index: 100;
                    transition: 0.8s;
                    display: block;
                    justify-content: center;
                    margin: 0;
                }

                .menu a{
                    display: block;
                    padding: 20px;
                    justify-content: center;
                }

                .hide-menu{
                    position: absolute;
                    top: 40px;
                    right: 40px;
                }
                #check:checked ~ .menu{
                    right: 0;
                }
                

                /*BUTTONS*/

                .pink-btn{
                    background-color: #D1AAA3;
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: #FDFDFD;
                    border: 2px solid #D1AAA3;
                }

                .pink-btn:hover{
                    border: 2px solid #D1AAA3;
                    background-color: #FDFDFD;
                    color: #D1AAA3;
                    transition: all 250ms ease-out;
                }

                .white-btn{
                    background-color: #FDFDFD;
                    padding: 5px 12px;
                    border-radius: 10px;
                    color: #D1AAA3;
                    margin: 0;
                    border: 2px solid #FDFDFD;
                }

                .white-btn:hover{
                    background-color: #D1AAA3;
                    color: #FDFDFD;
                    border: 2px solid #FDFDFD;
                    transition: all 250ms ease-out;
                }

                .outline-btn{
                    border:  2px solid #D1AAA3;
                    color: #D1AAA3;
                    padding: 8px 9px;
                    border-radius: 10px;
                }

                .outline-btn-icon{
                    border:  2px solid #D1AAA3;
                    color: #D1AAA3;
                    padding: 8px 9px;
                    border-radius: 10px;
                }

                .outline-btn-icon:hover{
                    background-color: #D1AAA3;
                    color: #FDFDFD;
                    border: 2px solid #D1AAA3;
                    transition: all 250ms ease-out;
                }



                /*MAIN*/

                main{
                    background-color: #D1AAA3;
                    padding-bottom: 0%;
                }

                .main-content{
                    padding: 20% 5% 0%;
                }

                .main-content h2{
                    font-size: 35px;
                    color: #FDFDFD;
                }

                .main-content h3{
                    font-size: 25px;
                    color: #FDFDFD;
                }

                .main-btn{
                    margin: 2% 5% 0% 5%;
                }

                .social{
                    display: flex;
                    margin: 10% 5%;
                    padding-bottom: 5%;
                    position: static;
                }

                .social.bx, a{
                    background-color: #FDFDFD;
                    padding: 6px 8px;
                    border-radius: 8px;
                    margin-right: 6px;
                    padding-left: 8px;
                }

                .bx:hover{
                    color: #D1AAA3;
                    transition: all 250ms ease-out;
                }

                .bx-show{
                    color: #D1AAA3;
                }

                .github{
                    color: #FDFDFD;
                }

                .bx-show, .github{
                    margin-right: 5px;
                }


                /*PROJECTS*/

                .container-cards{
                    display: block;
                    justify-content: center;
                    padding: 10%; 
                }

                .container-cards, .card{
                    margin: 2%;
                    padding-top: 8%;
                }

                .container-cards img{
                    border:  2px solid #D1AAA3;
                    padding: 6px;
                    width: 250px;
                    border-radius: 10px;
                }

                .card h3{
                    margin-bottom: 12px;
                }

                .pink-btn, .outline-btn{
                    padding: 10px 12px;
                }

                /*ABOUT*/

                .container-about-skills{
                    display: block;
                    justify-content: center;
                    margin-left: 6%;
                }

                .container-about{
                    border: 2px solid #D1AAA3;
                    border-radius: 10px;
                    padding: 25px;
                    width: 74%;
                    margin: 15% 2% 30%;
                }

                .container-about img{
                    width: 50px;
                    border-radius: 10px;
                    border: 2px solid #D1AAA3;
                    margin-bottom: 20px;
                }

                .img-name{
                    display: flex;
                }

                .name{
                    margin: 2% 0% 0% 10%;
                    font-size: 25px;
                    color: #D1AAA3;
                }

                .container-skills{
                    background-color: #D1AAA3;
                    padding: 40px 20px 40px 32px;
                    width: 74%;
                    margin: 15% 9% 30% 2%;
                    border-radius: 10px;
                }

                .skills-items li{
                    display: block;
                    padding: 2px;
                }

                .skills-items li, h2{
                    list-style: inside;
                    color: #FDFDFD;
                    font-family: "Open Sans", sans-serif;
                }

                .skills-title{
                    margin: 0px 30px 20px;
                    font-size: 22px;
                }

                /*FOOTER*/

                footer{
                    background-color: #D1AAA3;
                    padding: 8%;
                }
            }


